<div class="wiz-step-content" ng-controller="WizThirdController as wiz3">
    <div class="form-group">
        <span ng-bind="wiz3.registrationTitle"></span>
        <select ng-model="wiz.model.registration"
                ng-options="place for place in wiz3.regPlaces"></select>
    </div>
    <div class="form-group">
        <span ng-bind="wiz3.livingTitle"></span>
        <select ng-model="wiz.model.livePlace"
                ng-options="place for place in wiz3.livPlaces"></select>
    </div>
    <div class="form-group">
        <span ng-bind="wiz3.workExpTitle"></span>
        <select ng-model="wiz.model.workExperience"
                ng-options="exp for exp in wiz3.workExperience"></select>
    </div>
    <div class="form-block">
        <span ng-bind="wiz3.outcomeTitle"></span>
        <input type="text" ng-model="wiz.model.outcome"/>
    </div>
</div>
