<div class="wiz-step-content" ng-controller="WizFirstController as wiz1">

    <div>
        <span ng-bind="wiz1.creditSum" class="bold"></span>
        <span ng-bind="wiz1.inCurrency" class="italic"></span>
    </div>

    <div slider data-id="creditAmount"
         data-ng-model="wiz.model.creditAmount"
         data-slider-min="50000"
         data-slider-max="1000000"
         data-slider-step="1000"
         data-slider-value="250000"></div>

    <div>
        <span ng-bind="wiz1.creditTerm" class="bold"></span>
        <span ng-bind="wiz1.inMonthes" class="italic"></span>
    </div>

    <div slider data-id="creditTerm"
         data-ng-model="wiz.model.creditTerm"
         data-slider-min="1"
         data-slider-max="60"
         data-slider-step="1"
         data-slider-value="45"
         data-min-age="18"></div>
</div>
